body {
    background-color: rgb(88, 128, 201);
    margin-left: 20px;
    width: 300px;
}

h1{
    margin-left: 20px;
}

img {
    border: solid rgb(55, 51, 113);
}

div{
    background-color: rgb(156, 186, 230);
    padding: 1px;
    border: solid rgb(51, 113, 75);
}

#stuff, #moreStuff
{
    border: none;
    background-color: rgb(132, 171, 231);
    padding-left: 10px;
}

#stuff {
    font-size: 20px;
}


