body {
    text-align: center;
    width: 400px;
    background-color: aquamarine;
}

div {
    display:inline-flex;
    border-style: solid;
}

#boxen {
    border-style: none;
    display: flex;
    width: 100px;
}

#stuff {
    border-style: none;
    margin-bottom: 0px;
    padding-left: 50px;
}

button {
    background-color: aliceblue;
    height: 30px;
    border-radius: 15px;
}

button:hover {
    background-color: aqua;
}

#p {
    float:inline-start;
}

#b {
    float:inline-end;
}

/* Ich hab versucht. das CSS so nah wie möglich an das von der Zeichnung zu bringen
aber der Code wollte nicht so wie ich... ich probiere es weiter bis zur nächsten Abgabe



